body 
{
	font-size:12px;
	background-color:#F4EEE7; 
}
img
{
opacity:1;
}
img:hover
{
opacity:.8;
}
#abc
{
	border-radius:25px 5px 25px 5px ;
	

}

#abc1
{
	border-radius:5px 25px 5px 25px ;
	

}


#Imagetag
{
	border-radius:30px 30px 30px 30px ;
	
}
#xyz
{
border-width:2px;
	border-color:gray;
}



.MENU
{
text-align:center;	
font-weight:bold;
}
.editingtext
{

 color:Maroon;
 font-size:30px;
	
	}
.normaltext
{ text-align :justify ;
font-size:17px;
line-height:1.5;	
	}
	a
	{
	text-decoration:none;
	color:green;
	font-size:18px;
	}
	a:hover
	{
		color:maroon;	
	
		}
		.tabledata
		{
		font-size:15px;

		
		}